<p class="mb-5 font-bold text-lg">Please enter your new password .</p>
<form [formGroup]="newPassForm" class="space-y-5" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label for="newPassword" class="font-semibold">New Password</label>
    <input type="password" formControlName="newPassword" [ngClass]="{'border border-red-600 bg-red-100': newPassForm.controls.newPassword.invalid && newPassForm.controls.newPassword.dirty && newPassForm.controls.newPassword.touched}" class="w-full h-10 mt-2.5 px-4 text-base peer bg-gray-100 outline-none rounded" placeholder="new password ...">
    @if(newPassForm.controls.newPassword.errors){
      @if(
      newPassForm.controls.newPassword.invalid &&
      newPassForm.controls.newPassword.dirty &&
      newPassForm.controls.newPassword.touched &&
      newPassForm.controls.newPassword.errors['required']){
        <p class="text-red-500 text-xs mt-2.5">Please fill out this field.</p>
      }

      @if(
      newPassForm.controls.newPassword.invalid &&
      newPassForm.controls.newPassword.dirty &&
      newPassForm.controls.newPassword.touched &&
      newPassForm.controls.newPassword.errors['minlength']){
        <p class="text-red-500 text-xs mt-2.5">Password must have at least 8 characters.</p>
      }

      @if(
      newPassForm.controls.newPassword.invalid &&
      newPassForm.controls.newPassword.dirty &&
      newPassForm.controls.newPassword.touched &&
      newPassForm.controls.newPassword.errors['pattern']){
        <p class="text-red-500 text-xs mt-2.5">Password must contain capital letters , small letters ,symbols and numbers.</p>
      }
    }

  </div>
  <button [disabled]="newPassForm.invalid" [ngStyle]="{'cursor': newPassForm.invalid ? 'not-allowed' : 'pointer'}" [ngClass]="newPassForm.invalid ? 'opacity-[.3]' : 'hover:bg-gray-600'" class="text-white font-semibold bg-black px-10 py-2.5 ml-auto rounded transition duration-[400ms]" type="submit">Submit</button>
</form>
