<footer class="bg-black py-[60px]">
  <div class="container px-2 md:px-0">
    <div class="flex flex-wrap gap-y-8">
      <div class="basis-full md:basis-1/2 lg:basis-1/5 lg:pr-4">
        <img src="/assets/images/ecomify-logo.svg" alt="ECOMIFY" width="89" height="36" class="invert-[1] mb-5 inline-block">
        <div>
          <h2 class="text-white font-semibold mb-5">Subscribe</h2>
          <p class="text-white mb-2.5 opacity-80">Get 10% off your first order</p>
          <form action="#" class="flex relative border-white border rounded max-w-[300px]">
            <input type="text" class="bg-transparent p-2 text-white basis-3/4 w-3/4 shrink" placeholder="Enter your email">
            <button class="text-white basis-1/4 text-center" type="submit"><i class="fa fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
      <div class="basis-full md:basis-1/2 lg:basis-1/5 lg:px-4">
        <h3 class="text-white font-semibold mb-5">Support</h3>
        <div class="flex flex-col space-y-2.5">
          <p class="text-white">
            111 Bijoy Sarani ,Dhaka,<br>
            OH 1515, Bangladesh
          </p>

          <p class="text-white">info&#64;gmail.com</p>
          <p class="text-white">+88015-8888-9999</p>
        </div>
      </div>
      <div class="basis-full md:basis-1/2 lg:basis-1/5 lg:px-4">
        <h3 class="text-white font-semibold mb-5">Account</h3>
        <ul class="space-y-2.5">
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">My Account</a>
          </li>
          <li class="text-white">
            <a [routerLink]="['/login']" class="text-white hover:opacity-50 transition duration-[400ms]">Login</a>
            /
            <a [routerLink]="['/register']" class="text-white hover:opacity-50 transition duration-[400ms]">Register</a>
          </li>
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">Cart</a>
          </li>
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">Wishlist</a>
          </li>
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">Shop</a>
          </li>
        </ul>
      </div>
      <div class="basis-full md:basis-1/2 lg:basis-1/5 lg:px-4">
        <h3 class="text-white font-semibold mb-5">Quick Link</h3>
        <ul class="space-y-2.5">
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">Terms Of Use</a>
          </li>
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">FAQ</a>
          </li>
          <li>
            <a href="#" class="text-white hover:opacity-50 transition duration-[400ms]">Contact</a>
          </li>
        </ul>
      </div>
      <div class="basis-full md:basis-1/2 lg:basis-1/5 lg:pl-4">
        <h3 class="text-white font-semibold mb-5">Download App</h3>
        <div>
          <p class="text-white mb-2.5 opacity-80">Save $3 With App Daily List</p>
          <div class="flex items-center">
            <img src="/assets/images/barcode.png" alt="" width="90" height="90">
            <div class="flex flex-col">
              <a href="#">
                <img src="/assets/images/google-play-badge.png" alt="" width="110">
              </a>
              <a href="#" >
                <img src="/assets/images/app-store-badge.png" alt="" width="110" class="rounded-lg scale-90">
              </a>
            </div>
          </div>
          <div class="flex mt-5 space-x-5">
            <a href="#" class="text-white">
              <i class="fa fa-facebook-f hover:scale-125  transition transition-duration[400ms]"></i>
            </a>
            <a href="#" class="text-white">
              <i class="fa fa-twitter hover:scale-125  transition transition-duration[400ms]"></i>
            </a>
            <a href="#" class="text-white">
              <i class="fa fa-instagram hover:scale-125  transition transition-duration[400ms]"></i>
            </a>
            <a href="#" class="text-white">
              <i class="fa fa-linkedin hover:scale-125  transition transition-duration[400ms]"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
