<div class="category-card w-full h-full bg-black pt-4 pr-4 pl-4 pb-6 rounded-2xl hover:shadow-xl transition-all duration-[400ms]">
  <div class="wrapper h-full rounded-2xl overflow-hidden relative">
    <img [src]="category()?.image" [alt]="category()?.name" class="w-full h-full transition duration-[400ms]">
    <h2 class="w-[130%] h-fit text-black bg-white border-8 border-black font-bold text-2xl text-center absolute inset-x-0 inset-y-1/2 shadow-xl p-2 translate-x-[100%] transition-all ease-in-out duration-[400ms]">{{category()?.name}}</h2>
  </div>
</div>
