<section class="container py-[60px] px-2 md:px-0">
  <div class="flex">
    <div class="md:flex justify-center items-center hidden">
      <img src="/assets/images/404.webp" alt="404 Error">
    </div>
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-black font-extrabold text-5xl text-center md:text-left leading-[1.125]">
        Page Not Found ,<br>Or Something Went Wrong .
      </h1>
      <div class="md:w-full mt-10">
        <a [routerLink]="['/home']" class="text-white rounded font-semibold px-10 py-2.5 hover:bg-gray-600 transition duration-[400ms] bg-black">Home</a>
      </div>
    </div>
  </div>
</section>
