<div class="flex flex-col lg:flex-row w-full lg:max-h-[600px] gap-4">
  <div class="lg:basis-3/4">
    <div class="w-full h-full">
      <img [src]="images().at(currentImage)" alt="" class="w-full h-full">
    </div>
  </div>
  <div class="lg:basis-1/4 lg:-order-1 flex flex-row justify-center lg:justify-start lg:flex-col gap-2" [ngClass]="images().length > 4 ? 'scrollbar lg:pr-1 pb-1 lg:pb-0 overflow-x-scroll lg:overflow-x-hidden overflow-y-hidden lg:overflow-y-scroll' : ''">
    @for (img of images(); track $index) {
      <div class="cursor-pointer basis-1/4 min-h-0 min-w-0"
      [ngClass]="[
        $index == currentImage ? 'border-2 border-black' : 'hover:opacity-[.7] hover:scale-[0.9] transition duration-[400ms]',
        images().length > 4 ? 'flex-shrink-0' : 'flex-shrink-1']" (click)="currentImage = $index">
        <img [src]="images().at($index)" alt="" class="w-full h-full">
      </div>
    }
  </div>
</div>
