<p class="mb-5 font-bold text-lg">Please enter the email address you'd like your password reset information sent to .</p>
<form [formGroup]="emailForm" class="space-y-5" (ngSubmit)="onSend()">
  <div class="input-group">
    <label for="email" class="font-semibold">Email Address</label>
    <input type="email" formControlName="email" [ngClass]="{'border border-red-600 bg-red-100': emailForm.controls.email.invalid && emailForm.controls.email.dirty && emailForm.controls.email.touched}" class="w-full h-10 mt-2.5 px-4 text-base peer bg-gray-100 outline-none rounded" placeholder="info@gmail.com">
    @if(emailForm.controls.email.errors){
      @if(
      emailForm.controls.email.invalid &&
      emailForm.controls.email.dirty &&
      emailForm.controls.email.touched &&
      emailForm.controls.email.errors['required']){
        <p class="text-red-500 text-xs mt-2.5">Please fill out this field.</p>
      }

      @if(
      emailForm.controls.email.invalid &&
      emailForm.controls.email.dirty &&
      emailForm.controls.email.touched &&
      emailForm.controls.email.errors['email']){
        <p class="text-red-500 text-xs mt-2.5">Please enter a valid email address.</p>
      }
    }

    @if(emailForm.errors && emailForm.errors['auth']){
      <p class="text-red-500 text-xs mt-2.5">There is no user registered with this email address .</p>
    }
  </div>
  <button [disabled]="emailForm.invalid" [ngStyle]="{'cursor': emailForm.invalid ? 'not-allowed' : 'pointer'}" [ngClass]="emailForm.invalid ? 'opacity-[.3]' : 'hover:bg-gray-600'" class="text-white font-semibold bg-black px-10 py-2.5 ml-auto rounded transition duration-[400ms]" type="submit">Send</button>
</form>
